.container {
    display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: 40% 40%;
    height: 300px;
    width: 300px;
}
.counter {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.box {
    border: 1px solid grey;
    cursor: pointer; /* Added for better UX */
}

.selected {
    background-color: black;
}